*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
    background-color: chartreuse;
    

}
.app{
    background-color: #d10000;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;

}
.app h1{
 font-size: 45px; 
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: gold;  
 font-weight: 600;
 border-bottom:  2px solid black;
 padding-bottom: 35px;
}
.quiz{
    padding: 30px;
}
.quiz h2{
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: cadetblue;
    font-weight: 600;
    padding: 30px;
}
.btn{
    background: yellow;
    color: #222;
    font-weight: 500;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    text-align: left;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.10s;
}
.btn:hover:not([disabled]){
    background-color: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-button{
    background-color: blueviolet;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.correct{

    background: #aeabca;
}
.incorrect{
    background: #ff9393;
}